---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import GitHubIcon from "../assets/media/icons/GitHubIcon.astro";
import LinkedInIcon from "../assets/media/icons/LinkedInIcon.astro";
import SocialPill from "../components/SocialPill.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="w-full mx-auto lg:w-[740px] py-44">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Hey, soy Esteban
        <a
          href="https://www.linkedin.com/in/estebanfernandezgonzalez/"
          target="_blank"
          rel="noopener"
          class="flex justify-cente items-center"
        >
          <Badge> Disponible para trabajar </Badge>
        </a>
      </h1>
      <h2 class="text-2xl opacity-80 text-wrap">
        <span>0 años de experiencia.</span>
        <span class="text-yellow-200/90">Desarrollador Web.</span>
        <span class="text-red-200/90">De Granada, España.</span>
        <span class="opacity-85"
          >Especializado en crear soluciones con gran pasión por el Frontend
          pero también me defiendo con Backend.</span
        >
      </h2>
      <nav class="flex gap-x-2">
        <SocialPill
          href="https://www.linkedin.com/in/estebanfernandezgonzalez/"
        >
          <LinkedInIcon class="w-6 h-6" />
          LinkedIn
        </SocialPill>
        <SocialPill 
		href="https://github.com/fergone03"        
		>
		<GitHubIcon class="w-6 h-6" />
		GitHub
        </SocialPill>

      </nav>
    </section>
  </main>
</Layout>
