---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import GitHubIcon from "../assets/media/icons/GitHubIcon.astro";
import LinkedInIcon from "../assets/media/icons/LinkedInIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import MailIcon from "../assets/media/icons/MailIcon.astro";
import Experience from "../components/Experience.astro";
import WorkIcon from "../assets/media/icons/WorkIcon.astro";
import ProyectoIcon from "../assets/media/icons/ProyectoIcon.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import ContactIcon from "../assets/media/icons/ContactIcon.astro";
import AboutMeIcon from "../assets/media/icons/AboutMeIcon.astro";
import SobreMi from "../components/SobreMi.astro";
import DownloadIcon from "../assets/media/icons/DownloadIcon.astro";
import SoftSkills from "../components/SoftSkills.astro";
import Certificates from "../components/Certificates.astro";
import Skills from "../components/Skills.astro";
---

<Layout
  title="Dev Esteban Portfolio | Desarrollador y Programador Web"
  description="Este es mi portfolio web, donde puedo mostrar mis habilidades y experiencia en desarrollo web."
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-24" id="top">
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, soy Esteban
        <a
          href="https://www.linkedin.com/in/estebanfernandezgonzalez/"
          target="_blank"
          rel="noopener"
          class="flex justify-cente items-center"
        >
          <Badge> Disponible para trabajar </Badge>
        </a>
      </h1>
      <h2
        class="text-xl text-gray-300 lg:text-2xl opacity-80 text-wrap max-w-[700px]"
      >
        <span class="opacity-85">Desarrollador creativo y entusiasta.</span>
        <span class="text-yellow-200/90">Desarrollador Web.</span>
        <span class="text-red-200/90">De Granada, España.</span>
        <span class="opacity-85">
          Apasionado por crear soluciones innovadoras, con especial enfoque en
          Frontend y una sólida capacidad para trabajar en Backend.
        </span>
      </h2>

      <nav class="flex gap-4 mt-9 flex-wrap">
        <SocialPill
          href="https://www.linkedin.com/in/estebanfernandezgonzalez/"
        >
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/fergone03">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:fergonesteban03@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          fergonesteban03@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <h2
        class="text-white text-3xl font-semibold mb-6 flex gap-x-3 items-center"
      >
        <AboutMeIcon class="size-10 text-white" />
        Sobre mí
      </h2>
      <SobreMi />
      <nav class="flex gap-4 mt-9 flex-wrap">
        <SocialPill href="/files/CV_Esteban_Fernandez_es.pdf">
          <DownloadIcon class="text-white size-4 md:size-10" />
          Descargar CV
        </SocialPill>
        <SocialPill href="/files/CV_Esteban_Fernandez_ATS_es.pdf">
          <DownloadIcon class="text-white size-4 md:size-10" />
          Descargar CV ATS
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="skills">
      <h2
        class="text-white text-3xl font-semibold mb-6 flex gap-x-3 items-center"
      >
        <ProyectoIcon class="text-white size-10" />
        Skills
      </h2>
      <Skills />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2
        class="text-white text-3xl font-semibold mb-6 flex gap-x-3 items-center"
      >
        <ProyectoIcon class="text-white size-10" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2
        class="text-white text-3xl font-semibold mb-6 flex gap-x-3 items-center"
      >
        <WorkIcon class="text-white size-10" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="certificates">
      <h2
        class="text-white text-3xl font-semibold mb-6 flex gap-x-3 items-center"
      >
        <ProyectoIcon class="text-white size-10" />
        Certificates
      </h2>
      <Certificates />
    </SectionContainer>

    <!--
    <SectionContainer id="soft-skills">
      <h2
        class="text-white text-3xl font-semibold mb-6 flex gap-x-3 items-center"
      >
        <ProyectoIcon class="text-white size-10" />
        Soft Skills
      </h2>
      <SoftSkills />
    </SectionContainer>
   -->

    <SectionContainer id="contacto">
      <h2
        class="text-white text-3xl font-semibold mb-6 flex gap-x-3 items-center"
      >
        <ContactIcon class="text-white size-10" />
        Contacto
      </h2>
      <Contact />
    </SectionContainer>
  </main>
</Layout>
