<footer
  class="rounded-lg shadow-sm m-4 bg-[#090909]/20 backdrop-blur-lg py-5 xl:w-[1120px] mx-auto mb-10"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 flex flex-col items-center justify-center md:flex-row md:justify-between"
  >
    <span class="text-sm text-center text-zinc-200/90 mb-4 md:mb-0"
      >© 2025 <a
        href="https://www.linkedin.com/in/estebanfernandezgonzalez/"
        class="hover:underline">Esteban Fernández</a
      >. Casi todos los derechos reservados.
    </span>
    <ul
      class="flex flex-wrap w-full justify-around mt-3 text-sm font-medium text-white/90 sm:mt-0"
    >
      <li class="mb-2 sm:mb-0 sm:mr-6">
        <a href="#" class="hover:underline">Inicio</a>
      </li>
      <li class="mb-2 sm:mb-0 sm:mr-6">
        <a href="#sobre-mi" class="hover:underline ml-5">Sobre mí</a>
      </li>
      <li class="mb-2 sm:mb-0 sm:mr-6">
        <a href="#proyectos" class="hover:underline">Proyectos</a>
      </li>
    </ul>
  </div>
</footer>
