---
const { href } = Astro.props;
---

<a
  target="_blank"
  href={href}
  role="link"
  class="inline-flex w-full sm:max-w-fit bg-gray-800 text-white border-gray-900 items-center justify-center gap-2 px-4 py-3 text-base sm:text-md transition dark:text-white dark:bg-gray-800 border dark:border-gray-600 focus-visible:ring-yellow-500/80 hover:bg-gray-100 hover:border-gray-300 group rounded-xl hover:text-gray-800 focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
>
  <slot />
</a>
