---
import ReactIcon from "../assets/media/icons/ReactIcon.astro";
import AngularIcon from "../assets/media/icons/AngularIcon.astro";
import AWSIcon from "../assets/media/icons/AWSIcon.astro";
import AzureIcon from "../assets/media/icons/AzureIcon.astro";
import BashIcon from "../assets/media/icons/BashIcon.astro";
import BootstrapIcon from "../assets/media/icons/BootstrapIcon.astro";
import CSharpIcon from "../assets/media/icons/CSharpIcon.astro";
import CSSIcon from "../assets/media/icons/CSSIcon.astro";
import DjangoIcon from "../assets/media/icons/DjangoIcon.astro";
import DockerIcon from "../assets/media/icons/DockerIcon.astro";   
import NETIcon from "../assets/media/icons/NETIcon.astro";
import ExpressIcon from "../assets/media/icons/ExpressIcon.astro";
import FigmaIcon from "../assets/media/icons/FigmaIcon.astro";
import FramerIcon from "../assets/media/icons/FramerIcon.astro";
import GitIcon from "../assets/media/icons/GitIcon.astro";
import GraphQLIcon from "../assets/media/icons/GraphQLIcon.astro";
import HTMLIcon from "../assets/media/icons/HTMLIcon.astro";
import IFTTTIcon from "../assets/media/icons/IFTTTIcon.astro";
import JavaIcon from "../assets/media/icons/JavaIcon.astro";
import JavaScriptIcon from "../assets/media/icons/JavaScriptIcon.astro";
import JenkinsIcon from "../assets/media/icons/JenkinsIcon.astro";
import JestIcon from "../assets/media/icons/JestIcon.astro";
import JiraIcon from "../assets/media/icons/JiraIcon.astro";
import KubernetesIcon from "../assets/media/icons/KubernetesIcon.astro";
import LaravelIcon from "../assets/media/icons/LaravelIcon.astro";
import LinuxIcon from "../assets/media/icons/LinuxIcon.astro";
import MongoDBIcon from "../assets/media/icons/MongoDBIcon.astro";
import MySQLIcon from "../assets/media/icons/MySQLIcon.astro";
import NextIcon from "../assets/media/icons/NextJSIcon.astro";
import NodeIcon from "../assets/media/icons/NodeIcon.astro";
import PandasIcon from "../assets/media/icons/PandasIcon.astro";
import PhotoshopIcon from "../assets/media/icons/PhotoshopIcon.astro";
import PHPIcon from "../assets/media/icons/PHPIcon.astro";
import PostgreSQLIcon from "../assets/media/icons/PostgreSQLIcon.astro";
import PostmanIcon from "../assets/media/icons/PostmanIcon.astro";
import PuppeteerIcon from "../assets/media/icons/PuppeteerIcon.astro";
import PythonIcon from "../assets/media/icons/PythonIcon.astro";
import PyTorchIcon from "../assets/media/icons/PytorchIcon.astro";
import RustIcon from "../assets/media/icons/RustIcon.astro";
import SassIcon from "../assets/media/icons/SassIcon.astro";
import SymfonyIcon from "../assets/media/icons/SymfonyIcon.astro";
import TailwindIcon from "../assets/media/icons/TailwindIcon.astro";
import TypeScriptIcon from "../assets/media/icons/TypeScriptIcon.astro";
import VueIcon from "../assets/media/icons/VueIcon.astro";
import WebpackIcon from "../assets/media/icons/WebpackIcon.astro";
import WindowsIcon from "../assets/media/icons/WindowsIcon.astro";
import MariaDBIcon from "../assets/media/icons/MariaDBIcon.astro";  
import NginxIcon from "../assets/media/icons/NginxIcon.astro";
import SvelteIcon from "../assets/media/icons/SvelteIcon.astro";
import GitHubIcon from "../assets/media/icons/GitHubIcon.astro";
import ZapierIcon from "../assets/media/icons/ZapierIcon.astro";
import YarnIcon from "../assets/media/icons/YarnIcon.astro";
import NPMIcon from "../assets/media/icons/NPMIcon.astro";
import BunIcon from "../assets/media/icons/BunIcon.astro";
import BitbucketIcon from "../assets/media/icons/BitbucketIcon.astro";  
import AstroIcon from "../assets/media/icons/AstroIcon.astro";
import MicrosoftIcon from "../assets/media/icons/MicrosoftIcon.astro";
import LibreOfficeIcon from "../assets/media/icons/LibreOfficeIcon.astro";

const FILTERS = [
  "Todas",
  "frontend",
  "backend",
  "fullstack",
  "devops",
  "other",
  "herramientas",
  "framework",
  "database",
  "systems",
  "ai",
  "cloud",
];

const SKILLS = [
    {
        title: "Angular",
        filter: ["frontend", "framework"],
        icon: AngularIcon,
        class: "bg-gray-800 text-red-500",
    },
    {
        title: "AWS",
        filter: ["devops", "cloud"],
        icon: AWSIcon,
        class: "bg-gray-800 text-yellow-500",
    },
    {
        title: "Azure",
        filter: ["devops", "cloud"],
        icon: AzureIcon,
        class: "bg-gray-800 text-blue-500",
    },
    {
        title: "Bash",
        filter: ["devops"],
        icon: BashIcon,
        class: "bg-gray-800 text-green-700",
    },
    {
        title: "Bootstrap",
        filter: ["frontend", "framework"],
        icon: BootstrapIcon,
        class: "bg-gray-800 text-[#a400f0]",
    },
    {
        title: "C#",
        filter: ["backend"],
        icon: CSharpIcon,
        class: "bg-gray-800 text-purple-400",
    },
    {
        title: "CSS",
        filter: ["frontend"],
        icon: CSSIcon,
        class: "bg-gray-800 text-blue-600",
    },
    {
        title: "Django",
        filter: ["backend", "framework", "fullstack"],
        icon: DjangoIcon,
        class: "bg-gray-800 text-green-400",
    },
    {
        title: "Docker",
        filter: ["devops", "backend"],
        icon: DockerIcon,
        class: "bg-gray-800 text-blue-300",
    },
    {
        title: ".NET",
        filter: ["backend", "framework", "fullstack"],
        icon: NETIcon,
        class: "bg-gray-800 text-blue-300",
    },
    {
        title: "Express",
        filter: ["backend", "framework", "fullstack"],
        icon: ExpressIcon,
        class: "bg-gray-800 text-gray-400",
    },
    {
        title: "Figma",
        filter: ["herramientas"],
        icon: FigmaIcon,
        class: "bg-gray-800 text-blue-300",
    },
    {
        title: "Framer",
        filter: ["frontend", "herramientas"],
        icon: FramerIcon,
        class: "bg-gray-800 text-blue-300",
    },
    {
        title: "Git",
        filter: ["frontend", "herramientas"],
        icon: GitIcon,
        class: "bg-gray-800 text-orange-500",
    },
    {
        title: "GraphQL",
        filter: ["backend"],
        icon: GraphQLIcon,
        class: "bg-gray-800 text-pink-500",
    },
    {
        title: "HTML",
        filter: ["frontend"],
        icon: HTMLIcon,
        class: "bg-gray-800 text-orange-500",
    },
    {
        title: "IFTTT",
        filter: ["herramientas"],
        icon: IFTTTIcon,
        class: "bg-gray-800 text-cyan-400",
    },
    {
        title: "Java",
        filter: ["backend"],
        icon: JavaIcon,
        class: "bg-gray-800 text-orange-500",
    },
    {
        title: "JavaScript",
        filter: ["frontend"],
        icon: JavaScriptIcon,
        class: "bg-gray-800 text-yellow-500",
    },
    {
        title: "Jenkins",
        filter: ["devops"],
        icon: JenkinsIcon,
        class: "bg-gray-800 text-red-500",
    },
    {
        title: "Jest",
        filter: ["framework"],
        icon: JestIcon,
        class: "bg-gray-800 text-green-500",
    },
    {
        title: "Jira/ClickUp",
        filter: ["herramientas"],
        icon: JiraIcon,
        class: "bg-gray-800 text-blue-500",
    },
    {
        title: "Kubernetes",
        filter: ["devops", "backend", "cloud"],
        icon: KubernetesIcon,
        class: "bg-gray-800 text-blue-500",
    },
    {
        title: "Laravel",
        filter: ["backend", "framework", "fullstack"],
        icon: LaravelIcon,
        class: "bg-gray-800 text-red-500",
    },
    {
        title: "Linux",
        filter: ["systems"],
        icon: LinuxIcon,
        class: "bg-gray-800 text-gray-400",
    },
    {
        title: "Windows Server",
        filter: ["systems"],
        icon: WindowsIcon,
        class: "bg-gray-800 text-blue-400",
    },
    {
        title: "MariaDB",
        filter: ["database", "backend"],
        icon: MariaDBIcon,
        class: "bg-gray-800 text-amber-400",
    },
    {
        title: "MongoDB",
        filter: ["database", "backend"],
        icon: MongoDBIcon,
        class: "bg-gray-800 text-green-500",
    },
    {
        title: "MySQL",
        filter: ["database", "backend"],
        icon: MySQLIcon,
        class: "bg-gray-800 text-cyan-500",
    },
    {
        title: "Next.js",
        filter: ["framework", "backend", "frontend", "fullstack"],
        icon: NextIcon,
        class: "bg-gray-800 text-gray",
    },
    {
        title: "nginx",
        filter: ["other"],
        icon: NginxIcon,
        class: "bg-gray-800 text-gray-400",
    },
    {
        title: "Node.js",
        filter: ["backend", "framework", "fullstack"],
        icon: NodeIcon,
        class: "bg-gray-800 text-green-600",
    },
    {
        title: "Pandas",
        filter: ["framework", "backend", "Data Analyst"],
        icon: PandasIcon,
        class: "bg-gray-800 text-purple-400",
    },
    {
        title: "Photoshop",
        filter: ["other"],
        icon: PhotoshopIcon,
        class: "bg-gray-800 text-blue-700",
    },
    {
        title: "PHP",
        filter: ["backend"],
        icon: PHPIcon,
        class: "bg-gray-800 text-purple-100",
    },
    {
        title: "PostgreSQL",
        filter: ["database", "backend"],
        icon: PostgreSQLIcon,
        class: "bg-gray-800 text-blue-400",
    },
    {
        title: "Postman",
        filter: ["other"],
        icon: PostmanIcon,
        class: "bg-gray-800 text-orange-400",
    },
    {
        title: "Puppeteer",
        filter: ["backend"],
        icon: PuppeteerIcon,
        class: "bg-gray-800 text-gray",
    },
    {
        title: "Python",
        filter: ["backend", "ai"],
        icon: PythonIcon,
        class: "bg-gray-800 text-yellow-400",
    },
    {
        title: "PyTorch",
        filter: ["backend", "ai"],
        icon: PyTorchIcon,
        class: "bg-gray-800 text-orange-600",
    },
    {
        title: "React",
        filter: ["framework", "frontend"],
        icon: ReactIcon,
        class: "bg-gray-800 text-cyan-400",
    },
    {
        title: "Rust",
        filter: ["backend"],
        icon: RustIcon,
        class: "bg-gray-800 text-gray",
    },
    {
        title: "Sass",
        filter: ["frontend", "framework"],
        icon: SassIcon,
        class: "bg-gray-800 text-pink-400",
    },
    {
        title: "Svelte",
        filter: ["framework", "frontend"],
        icon: SvelteIcon,
        class: "bg-gray-800 text-white",
    },
    {
        title: "Symfony",
        filter: ["backend", "framework", "fullstack"],
        icon: SymfonyIcon,
        class: "bg-gray-800 text-cyan-400",
    },
    {
        title: "Tailwind",
        filter: ["frontend", "framework"],
        icon: TailwindIcon,
        class: "bg-gray-800 text-cyan-400",
    },
    {
        title: "TypeScript",
        filter: ["frontend", "framework"],
        icon: TypeScriptIcon,
        class: "bg-gray-800 text-blue-500",
    },
    {
        title: "Vue.js",
        filter: ["framework", "frontend"],
        icon: VueIcon,
        class: "bg-gray-800 text-green-400",
    },
    {
        title: "Webpack Encore",
        filter: ["frontend", "herramientas"],
        icon: WebpackIcon,
        class: "bg-gray-800 text-green-400",
    },
    {
        title: "Zapier",
        filter: ["other", "ai"],
        icon: ZapierIcon,
        class: "bg-gray-800 text-orange-600",
    },
    {
        title: "npm",
        filter: ["frontend", "herramientas"],
        icon: NPMIcon,
        class: "bg-gray-800 text-red-500",
    },
    {
        title: "bun",
        filter: ["frontend", "herramientas"],
        icon: BunIcon,
        class: "bg-gray-800 text-yellow-400",
    },
    {
        title: "yarn",
        filter: ["frontend", "herramientas"],
        icon: YarnIcon,
        class: "bg-gray-800 text-purple-400",
    },
    {
        title: "GitHub",
        filter: ["herramientas"],
        icon: GitHubIcon,
        class: "bg-gray-800",
    },
    {
        title: "Bitbucket",
        filter: ["herramientas"],
        icon: BitbucketIcon,
        class: "bg-gray-800 text-blue-400",
    },
    {
        title: "Astro",
        filter: ["frontend", "framework"],
        icon: AstroIcon,
        class: "bg-gray-800 text-orange-500",
    },
    {
        title: "Microsoft Office",
        filter: ["herramientas"],
        icon: MicrosoftIcon,
        class: "bg-gray-800 text-orange-400",
    },
    {
        title: "LibreOffice",
        filter: ["herramientas"],
        icon: LibreOfficeIcon,
        class: "bg-gray-800 text-blue-400",
    },
];


const url = new URL(Astro.request.url);
const selected = url.searchParams.get("filter") || "Todas";

const filteredSkills = selected === "Todas"
  ? SKILLS
  : SKILLS.filter(skill => skill.filter.includes(selected));

---

<div class="flex flex-col gap-2 mb-6">
  <div class="flex flex-wrap gap-3 justify-center mb-2">
    <button type="button" class="px-5 py-2 rounded-lg mr-2 mb-2 text-lg font-bold bg-gray-700 text-gray-200 hover:bg-blue-700 hover:text-white transition-all" data-filter="devops">DevOps</button>
    <button type="button" class="px-5 py-2 rounded-lg mr-2 mb-2 text-lg font-bold bg-gray-700 text-gray-200 hover:bg-purple-700 hover:text-white transition-all" data-filter="ai">IA</button>
    <button type="button" class="px-5 py-2 rounded-lg mr-2 mb-2 text-lg font-bold bg-gray-700 text-gray-200 hover:bg-green-700 hover:text-white transition-all" data-filter="Data Analyst">Data Analyst</button>
  </div>
  <div class="flex flex-wrap gap-2 justify-center mb-2">
    <button type="button" class="px-4 py-1.5 rounded mr-2 mb-2 bg-gray-700 text-gray-200 hover:bg-blue-600 hover:text-white transition-all" data-filter="frontend">Frontend</button>
    <button type="button" class="px-4 py-1.5 rounded mr-2 mb-2 bg-gray-700 text-gray-200 hover:bg-rose-600 hover:text-white transition-all" data-filter="backend">Backend</button>
    <button type="button" class="px-4 py-1.5 rounded mr-2 mb-2 bg-gray-700 text-gray-200 hover:bg-emerald-600 hover:text-white transition-all" data-filter="fullstack">Fullstack</button>
  </div>
  <div class="flex flex-wrap gap-2 justify-center">
    <button type="button" class="px-4 py-1.5 rounded mr-2 mb-2 bg-gray-700 text-gray-200 hover:bg-blue-600 hover:text-white transition-all" data-filter="todas">Todas</button>
    <button type="button" class="px-3 py-1 rounded mr-2 mb-2 bg-gray-700 text-gray-200 hover:bg-gray-800 hover:text-white transition-all" data-filter="herramientas">Herramientas</button>
    <button type="button" class="px-3 py-1 rounded mr-2 mb-2 bg-gray-700 text-gray-200 hover:bg-gray-800 hover:text-white transition-all" data-filter="framework">Frameworks</button>
    <button type="button" class="px-3 py-1 rounded mr-2 mb-2 bg-gray-700 text-gray-200 hover:bg-gray-800 hover:text-white transition-all" data-filter="database">Bases de datos</button>
    <button type="button" class="px-3 py-1 rounded mr-2 mb-2 bg-gray-700 text-gray-200 hover:bg-gray-800 hover:text-white transition-all" data-filter="systems">Sistemas</button>
    <button type="button" class="px-3 py-1 rounded mr-2 mb-2 bg-gray-700 text-gray-200 hover:bg-gray-800 hover:text-white transition-all" data-filter="cloud">Cloud</button>
    <button type="button" class="px-3 py-1 rounded mr-2 mb-2 bg-gray-700 text-gray-200 hover:bg-gray-800 hover:text-white transition-all" data-filter="other">Otros</button>
  </div>
</div>

<ul id="skills-list" class="flex flex-wrap gap-3 mt-4">
  {SKILLS.map((skill) => (
    <li
      data-filters={skill.filter.join(',')}
      style="display: block;"
    >
      <span
        class={`inline-flex items-center rounded-full font-semibold text-sm px-4 py-2 ${skill.class}`}
      >
        {skill.icon && (
          <skill.icon
            class="w-5 h-5 mr-2 flex-shrink-0"
            style="color:inherit;"
          />
        )}
        <span class="whitespace-nowrap">{skill.title}</span>
      </span>
    </li>
  ))}
</ul>

<script is:inline>
  const filters = Array.from(document.querySelectorAll('button[data-filter]'));
  const skillsList = document.getElementById('skills-list');
  const skills = Array.from(skillsList.querySelectorAll('li'));
  let selected = 'todas'; 

  function renderSkills() {
    filters.forEach(btn => {
      const isActive = btn.dataset.filter === selected;
      btn.classList.toggle('ring-2', isActive);
      btn.classList.toggle('ring-blue-400', isActive);
      btn.classList.toggle('scale-105', isActive);
      btn.classList.toggle('bg-blue-600', isActive && btn.dataset.filter === 'Frontend');
      btn.classList.toggle('bg-rose-600', isActive && btn.dataset.filter === 'Backend');
      btn.classList.toggle('bg-emerald-600', isActive && btn.dataset.filter === 'fullstack');
      btn.classList.toggle('bg-blue-700', isActive && btn.dataset.filter === 'DevOps');
      btn.classList.toggle('bg-purple-700', isActive && btn.dataset.filter === 'IA');
      btn.classList.toggle('bg-green-700', isActive && btn.dataset.filter === 'Data Analyst');
      btn.classList.toggle('text-white', isActive);

      if (!isActive) {
        btn.classList.remove('bg-blue-600','bg-rose-600','bg-emerald-600','bg-blue-700','bg-purple-700','bg-green-700','text-white','ring-2','ring-blue-400','scale-105');
      }
    });
    skills.forEach(li => {
      const filtersArr = li.dataset.filters.split(',');
      li.style.display = (selected === 'todas' || filtersArr.includes(selected)) ? 'block' : 'none';
    });
  }

  filters.forEach(btn => {
    btn.addEventListener('click', () => {
      selected = btn.dataset.filter;
      renderSkills();
    });
  });
  renderSkills();
</script>
